<% provide :title, "Feedback" %>


<p>
<%= link_to "Contact us through email", 
  "mailto:gogoprototastic@gmail.com?subject=Feedback" %>
</p>
<p>
<%= link_to "Send us a message on facebook", 
  "http://www.facebook.com/gogoprototastic" %>
</p>
