<% unless current_user.nil? %>
  <% if user_signed_in? %>
    <%= form_for [@idea, @comment] do |f| %>
      <div class="row comment_form">
        <div class="small-9 columns">
          <%= f.text_area :body, placeholder: "Whaddya think?"  %>
        </div>
        <div class="small-3 columns">
          <%= f.submit "Submit", class: "submit_comment button background-proto-blue" %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
