<% @idea.comment_threads.all.each do |comment| %>
  <div class="comment">
    <%= image_tag comment.author.profile_picture.url(:thumb) %>
    <%= comment.body %> -- by <%= comment.author.username %>
  </div>
<% end %>
