<div>
  <%= link_to facebook_share_url, { class: "social_share facebook_share", 
                                    target: "_blank" } do %>
    <%= image_tag "facebook-share.png" %>
  <% end %>
  <%= link_to twitter_share_url(@idea), { class: "social_share twitter_share", 
                                          target: "_blank" }  do %>
    <%= image_tag "twitter-share.png" %>
  <% end %>
</div>
