<div class="top">
  <p class="left"> 
    <%= render 'tile_vote_count', idea: idea %>
  </p>
  <p class="right"> 
  <a href="#"> <%= pluralize idea.comment_threads.count, "Comment" %> </a> 
  <%= render 'tile_comment_count', idea: idea %>
  </p>
  <div class="clear"></div>
</div>
