<div class="panel navigation">    
  <div class="row">
    <div class="large-10 columns">
      <ul class="inline-list">
        <li> <a href="#"> Art </a> </li>
        <li> <a href="#"> Dance </a> </li>
        <li> <a href="#"> Design </a> </li>
        <li> <a href="#"> Fashion </a> </li>
        <li> <a href="#"> Tech </a> </li>
        <li> <a href="#"> Theater </a> </li>                        
      </ul>
    </div>
  </div>
</div>
