<div class="large-2 columns">
  <ul class="inline-list">
    <li>
      <%= link_to "http://facebook.com/gogoprototastic", target: "_blank" do %>
        <%= image_tag "social-facebook.png" %>
      <% end %>
    </li>
    <li>
      <%= link_to "https://twitter.com/go_proto", target: "_blank" do %>
        <%= image_tag "social-twitter.png" %>
      <% end %>
    </li>
  </ul>
</div>
