<div class="panel navigation-footer">    
  <div class="row">
    <div class="large-1 columns">
      <h3><%= link_to "PROTO", root_path %></h3>
    </div>
    <div class="large-5 large-offset-3 columns text-center">
      <div class="large-centered">
      <ul class="inline-list">
        <li><%= link_to "Feedback", feedback_path, class: "feedback" %></li>                     
        <li> <a href="#"> About the Project </a> </li>
        <li> <a href="#"> FAQs </a> </li>
        <li> <a href="#"> Terms </a> </li>
      </ul>
      </div>
    </div>
    <div class="large-2 columns">
      <ul class="inline-list">
        <li> <a href="#"> <strong> FB </strong> </a> </li>
        <li> <a href="#"> <strong> TW </strong> </a> </li>
      </ul>          
    </div>
  </div>
</div>

<p class="text-center copy">
  Copyright ⓒ Proto. All rights reserved.
</p>
