<div class="large-2 columns">
  <ul class="inline-list">
    <li>
      <%= link_to "http://facebook.com/gogoprototastic", target: "_blank" do %>
      <strong>FB</strong>
      <% end %>
    </li>
    <li>
      <%= link_to "https://twitter.com/go_proto", target: "_blank" do %>
      <strong>TW</strong>
      <% end %>
    </li>
  </ul>
</div>
