<%= link_to "Icon here", root_path, id: "icon" %>

<% flash.each do |name, msg| %>
  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close alert-close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <%= msg %>
  </div>
<% end %>

<%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "sign_out" %> 
