<div class="panel navigation">    
  <div class="row">
    <div class="large-2 columns">
      <ul class="inline-list">
        <li><%= link_to "Back", root_path %></li>                  
      </ul>
    </div>
    <div class="large-4 columns large-offset-6">
      <ul class="inline-list">
        <% if @ideas.present? && @ideas.length > 1 %>
          <li><%= link_to "Previous Project", idea_path(@previous), class: "next_idea" %></li>
          <li> |</li>
          <li><%= link_to "Next Project", idea_path(@next), class: "previous_idea" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<br /> 
