<div class="row">
  <div class="large-4 columns">
    <%= render 'layouts/user_profile_button' %>
  </div>
  <div class="large-4 columns text-center">
    <%= link_to root_path do%>
      <h1>PROTO</h1>
      <h3>Validate early. Build faster.</h3>
    <% end %>
  </div>

  <div class="large-4 columns login-container">
    <% if user_signed_in? && current_user.has_gold_credit?  %>
      <%= link_to "Activate gold status", gold_activation_path, 
        class: "new_idea left small button simple-blue-button" %>
    <% end %>
    <%= render 'layouts/get_started_button' %>
  </div>
</div>
<br />
