<div class="row">
  <div class="large-4 columns">
    <%= render 'layouts/user_profile_button' %>
  </div>
  <div class="large-4 columns text-center">
    <%= link_to root_path do%>
      <h1>PROTO</h1>
      <h3>Validate early. Build faster</h3>
    <% end %>
  </div>

  <div class="large-4 columns login-container">
    <!-- <p class="left login&#45;button"> <a href="#" data&#45;reveal&#45;id="loginWindow"> Login </a> </p> -->
    <%= render 'layouts/get_started_button' %>
  </div>
</div>
<br />
